
.btn_favorite{
    color: red;

}

.btn_favorite:hover{
    color: rgb(254, 254, 254) !important;
    background: #ec6f6f !important;
    border: none;
}

.card:hover{
    transform: scale(1.05) ; 
    transition: transform 0.2s;
}
.btn_buy:hover{
    color: wheat !important;
    font: bold;
    transform: scale(1.05) ;
    transition: transform 0.2s;
    border: none;
}

.card_img:hover{
    transform: scale(1.2) ; 
    transition: transform 0.4s;
}